@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --darkColor: #232928;
    --midColor: #586967;
    --lightColor: #93b2ad;
    --mainFontFamily: 'Lobster', cursive;
}

/* GENERAL STYLES */
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Common alignements*/
body,
.game-slot,
.btn-start,
.player,
.player-mark,
.modal-body,
#main-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    font-family: var(--mainFontFamily);
    font-size: 85px;
    text-decoration: underline;
}
.hidden{
    display: none;
}

/* GAMEBOARD STYLES */
#players{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;    
}
.player{
    height: 100px;
    width: 100px;
    font-size: 55px;
    color: var(--midColor);
    display: flex;
    flex-direction: column;
}
.player-mark{
    font-size: 18px;
    font-family: var(--mainFontFamily);
    color: var(--darkColor);
}
.current-player{
    border: 2px solid var(--darkColor);
    border-radius: 50%;
}
#gameboard{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
.game-slot{
    margin: 0;
    border: 2px solid var(--darkColor);
    border-radius: 5px;
    width: 128px;
    height: 128px;
    font-size: 50px;
    font-family: var(--mainFontFamily);
}
.main-btn{    
    font-family: var(--mainFontFamily);
    margin: 15px 5px 90px 5px;
}

/* FRONT STYLES */
#front-container{
    width: 450px;    
}
.gametype-box{
    background-color: var(--lightColor);
    color: var(--darkColor);
    border: 2px solid var(--darkColor);
    border-radius: 10px;
    text-align: center;
    font-size: 100px;
    margin: 20px 0px;
    box-shadow: 10px 10px 16px -5px rgba(145,145,145,0.85);
}
.gametype-box-actived,
.btn-start:active{
    box-shadow: 0 0 0;
    transform: translate(3px, 3px);
}
.vs-label{
    margin: 0px 30px;
    font-size: 60px;
    color: var(--darkColor);
    font-family:  var(--mainFontFamily);
}
.btn-start{
    background-color: var(--darkColor);
    color: var(--lightColor);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 6px;
    font-family:  var(--mainFontFamily);
    font-size: 40px;
    transition: opacity 200ms ease-in-out;
    box-shadow: 5px 5px 5px 0px rgba(145,145,145,1);
}
.btn-start:hover{
    opacity: 0.75;
}
.alert{
    opacity: 0;
    margin: auto;
    transition: opacity 100ms ease-in-out;
}

/* MODAL STYLES */
.modal-body{
    font-size: 35px;
    font-family: var(--mainFontFamily);
    display: flex;
    flex-direction: column;
}
#result{
    font-size: 55px;
    margin-left: 10px;
}

/* FOOTER STYLES */
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 5px;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fab{
    margin-left: 10px;
    color: black;
}